name: Chart Lint
on:
  push:
    branches: [ main ]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Lint Helm charts
        uses: helm/chart-testing-action@v1.0.0
        with:
          command: lint
          config: Chart.yaml
